.input {
  height: 2rem;
  flex: 1;
  border: none;
  outline: none;
  min-width: 3rem;
  font-size: 1rem;
  border-right: 2px solid #a0a0a0;
  padding-right: 0.5rem;
}

.input_box {
  border: 2px solid #a0a0a0;
  border-radius: 6px;
  padding: 0.7rem;
  min-width: 50vw;
}

.input_box:has(.input:focus) {
  border-color: #77adeb;
  /* border-color: #7386b4; */
}

.label {
  padding-left: 1rem;
}

@media only screen and (min-width: 900px) {
  .input_box {
    width: 25.5rem;
    min-width: unset;
  }
}
